:root {
  --international-orange-engineering: hsl(1, 91%, 37%);
  --cadet-blue-creyola: hsl(222, 14%, 69%);
  --oxford-blue-1: hsl(222, 47%, 15%);
  --oxford-blue-2: hsl(222, 44%, 14%);
  --oxford-blue-3: hsl(222, 50%, 11%);
  --sonic-silver: hsl(0, 0%, 44%);
  --space-cadet: hsl(222, 44%, 18%);
  --pastel-pink: hsl(1, 53%, 75%);
  --eerie-black: hsl(0, 0%, 15%);
  --light-gray: hsl(0, 0%, 80%);
  --white: hsl(0, 0%, 100%);
  --ff-chakra-petch: 'Chakra Petch', sans-serif;
  --ff-mulish: 'Mulish', sans-serif;
  --fs-1: 5rem;
  --fs-2: 4.5rem;
  --fs-3: 2.4rem;
  --fs-4: 1.8rem;
  --fs-5: 1.4rem;
  --fs-6: 1.2rem;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --section-padding: 60px;
  --shadow: 0px 0px 100px 0px hsl(216, 9%, 90%);
  --radius-pill: 100px;
  --radius-circle: 50%;
  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
button { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

address { font-style: normal; }

html {
  font-family: var(--ff-mulish);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--sonic-silver);
  font-size: 1.6rem;
  line-height: 1.5;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }

.container { padding-inline: 16px; }

.material-symbols-rounded {
  --fs: 1em;
  font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 40;
  font-size: var(--fs);
  width: 1em;
  overflow: hidden;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  font-size: 2.5rem;
}

.section-subtitle {
  max-width: max-content;
  font-family: var(--ff-chakra-petch);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  margin-block-end: 12px;
  margin-inline: auto;
}

.section-subtitle::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 30px;
  margin-block-end: -2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section-subtitle.\:dark { color: var(--white); }

.section-subtitle.\:light { color: var(--international-orange-engineering); }

.section-title { text-align: center; }

.h1,
.h2,
.h3,
.display-1 {
  font-family: var(--ff-chakra-petch);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

.display-1 { font-size: var(--fs-1); }

.h1 {
  color: var(--white);
  font-size: var(--fs-2);
  line-height: 1.1;
  letter-spacing: 1px;
}

.h2,
.h3 {
  color: var(--eerie-black);
  font-weight: var(--fw-600);
  line-height: 1.2;
}

.h2 { font-size: var(--fs-3); }

.h3 { font-size: var(--fs-4); }

.btn {
  background-color: var(--international-orange-engineering);
  color: var(--white);
  max-width: max-content;
  font-family: var(--ff-chakra-petch);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: var(--radius-pill);
  transition: var(--transition);
  will-change: transform;
}

.btn:is(:hover, :focus-visible) {
  transform: translateY(-5px);
  background-color: var(--oxford-blue-3);
  border-color: var(--white);
}

.section { padding-block: var(--section-padding); }

.btn-link {
  font-family: var(--ff-chakra-petch);
  text-transform: uppercase;
  color: var(--international-orange-engineering);
  font-weight: var(--fw-700);
}

.w-100 { width: 100%; }

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.has-scrollbar {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 20px;
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar { height: 16px; }

.has-scrollbar::-webkit-scrollbar-track {
  background-color: var(--pastel-pink);
  border-radius: 20px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--international-orange-engineering);
  border-radius: 20px;
  border: 3px solid var(--pastel-pink);
}

.has-scrollbar::-webkit-scrollbar-button { width: 15%; }

.header .btn { display: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
 width: 100%;
  padding: 40px 15px;
  padding-inline-start: 40px;
  z-index: 4;
 height: 100px;
  
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -75px;
}

.logo img { width: 175px; }

.nav-toggle-icon {
  width: 30px;
  height: 2px;
  background-color: var(--white);
  transition: var(--transition);
}

.careers-page .nav-toggle-icon {
  background-color: black;
}

.nav-toggle-icon:not(:last-child) {
  margin-block-end: 7px;
}

.nav-toggle-btn.active .icon-2 {
  opacity: 0;
  transform: translateX(-10px);
}

.nav-toggle-btn.active .icon-1 {
  transform: rotate(45deg) translate(8px, 8px);
}

.nav-toggle-btn.active .icon-3 {
  transform: rotate(-45deg) translate(4px, -4px);
}

.navbar {
  position: absolute;
  top: 100px;
  right: 30px;
  background-color: var(--white);
  min-width: max-content;
  width: 200px;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.navbar.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition-duration: 0.5s;
}

.navbar-link {
  font-family: var(--ff-chakra-petch);
  font-size: var(--fs-5);
  text-transform: uppercase;
  color: var(--international-orange-engineering);
  padding: 8px 16px;
  transition: var(--transition);
}

.navbar-link:is(:hover, :focus-visible) {
  background-color: var(--international-orange-engineering);
  color: var(--white);
}

.hero {
  position: relative;
  padding-block-start: calc(var(--section-padding) - 40px); /* Reducido de +10px a -40px */
  text-align: center;
  z-index: 1;
  overflow: hidden;
  height: 10%;
}

.hero .container {
  display: grid;
  gap: 20px; /* Reducido de 30px a 20px */
  padding-block: 20px; /* Reducido de 40px a 20px */
  height: 40%;
}

.hero .section-subtitle { text-transform: unset; }

.hero .section-text {
  color: var(--white);
  margin-block: 14px 18px;
}

.hero .btn { margin-inline: auto; }

.hero-banner { aspect-ratio: var(--width) / var(--height); }

.hero-banner img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  z-index: -1;
}

.hero .section-subtitle {
  font-size: 2rem;
}

.hero .section-title {
  margin-block: 1rem;
  line-height: 1.2;
}

.hero-content {
  margin-top: 10px; /* Reducido de 20px a 10px */
  margin-bottom: 10px; /* Reducido de 20px a 10px */
}

.service-banner { display: none; }

.service { text-align: center; }

.service-list {
  gap: 0;
  margin-block-end: 40px;
}

.service-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 24px;
}

.service-card .card-text {
  line-height: 1.2;
  margin-block: 8px;
}

.service .btn { margin-inline: auto; }

.about {
  background-color: var(--space-cadet);
  color: var(--white);
  text-align: center;
}

.about .container {
  display: grid;
  gap: 50px;
}

.about .section-title { color: var(--white); }

.about .section-text:nth-child(3) { margin-block: 12px 8px; }

.about-list {
  display: grid;
  gap: 25px;
  margin-block-start: 25px;
}

.about-item {
  background-color: var(--oxford-blue-2);
  padding: 40px 20px;
  transition: var(--transition);
}

.about-item:hover {
  background-color: var(--international-orange-engineering);
  transform: translateY(-8px);
}

.about-item .strong {
  display: block;
  line-height: 1.1;
}

.work .container { padding-inline: 0; }

.work .section-title { margin-block-end: 24px; }

.work-card { position: relative; }

.work-card .card-content {
  background-color: var(--white);
  max-width: 90%;
  padding: 30px 10px;
  margin-block-start: -60px;
  margin-inline: auto;
  position: relative;
  text-align: center;
  box-shadow: var(--shadow);
}

.work-card .card-subtitle {
  font-family: var(--ff-chakra-petch);
  text-transform: uppercase;
  color: var (--international-orange-engineering);
  font-weight: var (--fw-700);
  margin-block-end: 5px;
}

.work-card .card-title { margin-block-end: 10px; }

.work-card .card-btn {
  background-color: var(--international-orange-engineering);
  color: var(--white);
  font-size: 2rem;
  margin-inline: auto;
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
}

.footer {
  color: var(--cadet-blue-creyola);
  .footer {
    position: relative;
    background-image: url('/html/assets/css/cocheGris.png');
    background-size: contain;
    background-position: center bottom;
    z-index: 1;
  }
  
  .footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

.footer-top, .footer-bottom {
  position: relative;
  z-index: 2;
}

.footer-top { background-color: var(--space-cadet); }

.footer-top .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer-list {
  margin: 0;
  padding-right: 1000px;
}

.footer-brand {
  margin: 0;
  padding-bottom: 50px;
}

.footer-list {
  margin-right: auto;
}

.footer-text { margin-block: 18px 20px; }

.social-list {
  display: flex;
  gap: 8px;
}

.social-link {
  background-color: var(--oxford-blue-3);
  padding: 14px;
  border-radius: var(--radius-circle);
  transition: var(--transition);
}

.social-link:is(:hover, :focus-visible) {
  background-color: var(--international-orange-engineering);
  transform: translateY(-5px);
}

.footer .h3 {
  color: var(--white);
  margin-block-end: 18px;
}

.footer-list .p {
  color: var(--white);
  font-weight: var(--fw-400);
  margin-block-end: 7px;
}

.footer-list li:not(:first-child) { margin-block-start: 16px; }

.footer-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-link:is(:hover, :focus-visible) { color: var(--international-orange-engineering); }

.footer-link .material-symbols-rounded {
  flex-shrink: 0;
  font-size: 1.8rem;
  color: var(--international-orange-engineering);
}

.footer-bottom {
  background-color: var(--oxford-blue-1);
  padding-block: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.copyright {
  text-align: center;
  font-size: var(--fs-6);
}

.contact-section {
  padding: var(--section-padding) 0;
  background-color: var(--light-gray);
  text-align: center;
}

.carrers-section {
  padding: var(--section-padding) 0;
  background-color: white;
  text-align: center;
}
.careers-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 2rem;
  align-items: center;
  padding: 2rem 0;
  max-width: 1200px;
  margin: 0 auto;
}

.careers-text {
  text-align: center;
  padding: 2rem;
  max-width: 400px;
}

.careers-text h2 {
  color: var(--international-orange-engineering);
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
}

.careers-text p {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--oxford-blue-3);
}

.logo-wall-container {
  order: 3;
}

.logo-wall {
  max-width: 350px;
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .careers-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .careers-text {
    margin: 0 auto;
  }

  .logo-wall-container {
    order: unset;
  }
}

.logo-wall-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo-wall {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.form-container {
  flex: 1;
}



  .logo-wall {
      max-width: 550px;
  }



.file-upload-wrapper {
  position: relative;
  width: 100%;
  margin-top: 8px;
}

.file-upload-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.file-upload-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.file-upload-button:hover {
  background-color: var(--primary-hover, #2980b9);
}

.file-name {
  margin-left: 12px;
  color: var(--text-color, #666);
  font-size: 0.9em;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 8px;
  position: relative; /* Asegurar que no haya elementos superpuestos */
  z-index: 1; /* Asegurar que el formulario esté en el frente */
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-family: var(--ff-chakra-petch);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  margin-bottom: 8px;
  color: var(--eerie-black);
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: var(--fs-5);
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  transition: var(--transition);
  background-color: var(--white); /* Asegurar que el fondo sea blanco */
  z-index: 2; /* Asegurar que los campos de entrada estén en el frente */
}

.form-input:focus {
  border-color: var(--international-orange-engineering);
  outline: none;
}

.btn-primary {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  background-color: var (--international-orange-engineering);
  color: var(--white);
  font-family: var(--ff-chakra-petch);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  border: none;
  border-radius: var(--radius-pill);
  cursor: pointer;
  transition: var(--transition);
}

.btn-primary:is(:hover, :focus-visible) {
  background-color: var(--oxford-blue-3);
  transform: translateY(-5px);
}

  .hero .section-text { font-size: rem; }

  .service .section-title { margin-block-end: 30px; }

  .service-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-block-end: 40px;
  }

  .about-list {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .about-item { padding-block: 20px; }

  .scrollbar-item { min-width: calc(50% - 15px); }

  .footer-top {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-top .container { grid-template-columns: 1fr 1fr; }

  .footer .shape-3 {
    display: block;
    position: absolute;
  }

.customs-card {
  transform: translateY(-33px);
}

.values {
    padding: 60px 0;
    background-image: url('/html/assets/images/valores.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajustar la imagen para cubrir toda la sección */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
}

.values h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.values-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.value-item {
    width: 30%;
    background-color: #fff; /* Fondo blanco completo */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.value-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.value-item p {
    font-size: 16px;
    color: #555;
}

/* Timeline Section Styles */
.timeline {
    padding: 80px 0;
    max-width: 1000px; /* Aumentado de 800px a 1000px */
    margin: 0 auto;
    text-align: center;
}

.timeline h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: var(--international-orange-engineering);
}

.timeline-item {
    max-width: 800px; /* Aumentado de 600px a 800px */
    margin: 0 auto 40px;
    text-align: left;
    padding: 0 30px;
    position: relative;
}

.timeline-item h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--oxford-blue-3);
}

.timeline-item p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--sonic-silver);
    margin-left: 0; /* Quitado el margen izquierdo */
}

/* Eliminar los puntos rojos */
.timeline-item::before {
    display: none;
}

/* Team Section Styles */
.team {
    padding: 40px 20px;
    background-image: url('../images/equipo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajustar la imagen para cubrir toda la sección */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
}

.team h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #fff; /* Cambiar el color del texto a blanco */
}

.team-members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-member {
    width: 18%;
    background-color: #fff; /* Fondo blanco completo */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.team-member h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 16px;
    color: #555;
}

/* Vision and Mission Section Styles */
.vision-mission {
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Añadido para centrar horizontalmente */
    text-align: center; /* Asegurar que todo el texto esté centrado */
    margin: 0 auto; /* Centrar la sección completa */
    max-width: 800px; /* Limitar el ancho máximo */
}

.vision-mission .container {
    display: flex;
    flex-direction: column; /* Cambiar a columna para apilar elementos */
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.vision-mission-text {
    flex: 1;
    margin: 0 auto; /* Centrar el texto */
    max-width: 600px; /* Limitar el ancho del texto */
}

.vision-mission-text h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: var(--international-orange-engineering);
}

.vision-mission-text p {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--oxford-blue-3);
}

.hero-content .cta-button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

/* Estilos mejorados para la sección de imágenes */
.image-section {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px 20px;
    max-width: 1400px; /* Aumentado de 1200px */
    margin: 0 auto;
}

.image-section .container {
    flex: 0 1 calc(48% - 20px); /* Aumentado de 45% a 48% */
    max-width: 600px; /* Aumentado de 500px */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}

.image-section .container img {
    width: 100%;
    height: auto;
    max-height: 350px; /* Aumentado de 300px */
    object-fit: cover;
    
}

.image-section .container h1 {
    font-size: 24px;
    margin: 10px 0;
    color: var(--oxford-blue-3);
}

.image-section .container p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--sonic-silver);
    max-width: 100%;
}

.image-section .container.small {
    flex: 0 1 calc(48% - 20px); /* Aumentado de 45% a 48% */
    max-width: 800px; /* Aumentado de 500px */
    margin-top: 0;
}

/* Estilo para la sección de imágenes */
.image-section {
  background-color: white; /* Fondo blanco */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.image-section .container {
  flex: 1 1 calc(45% - 20px); /* Ajusta el tamaño de los contenedores */
  max-width: calc(45% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center; /* Centra el texto dentro de los contenedores */
}

.image-section .container img {
  width: 100%; /* Ajusta el ancho al 100% */
  height: auto; /* Mantiene las proporciones */
  display: block;
  margin-bottom: 10px; /* Reduce el margen inferior de la imagen */
}

.image-section .container.small {
  flex: 1 1 calc(35% - 20px); /* Ajusta el tamaño de los contenedores pequeños */
  max-width: calc(35% - 20px);
  margin-top: 10px; /* Ajusta el margen superior para subir los contenedores */
}

.image-section .container.small:nth-child(2) {
  margin-top: 25px; /* Ajusta el margen superior para subir el contenedor de texto e imagen */
}

.image-section .container.small:nth-child(3) {
  margin-top: 45px; /* Ajusta el margen superior para subir el contenedor de texto */
}

.image-section .container h1 {
  margin-top: 5px; /* Reduce el margen superior del texto */
}